.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: $mainDuration;
  transition-timing-function: $mainTimingFunction;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: $mainDuration;
  transition-timing-function: $mainTimingFunction;

  &__close {
    &-btn {
      @extend %btn;

      width: 30px;
      height: 30px;
      margin-left: 490px;
      margin-top: 8px;
      margin-right: 8px;

      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;

      color: rgba(0, 0, 0, 1);

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        color: $accentColor;
      }
    }
    &-icon {
      fill: currentColor;
    }
  }

  &__title {
    font-family: $mainFontFamily;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titleTextColor;

    padding-bottom: 12px;
    margin: 0;
  }
}
