.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    // transform: translate(-50%, -50%) scale(0.7);
    transform: scale(0.7);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: $mainDuration;
  transition-timing-function: $mainTimingFunction;

  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 92px;
  }

  @media screen and (max-width: 1199px) {
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    padding-left: 159px;
    padding-right: 159px;
    padding-top: 208px;
  }

  @media screen and (min-width: 1200) {
    padding-top: 221px;
  }
}

.modal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%) scale(1);

  transform: scale(1);

  width: 100%;
  min-height: 609px;
  padding-top: 8px;
  margin: auto;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: $mainDuration;
  transition-timing-function: $mainTimingFunction;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }

  &__close {
    &-btn {
      @extend %btn;

      width: 30px;
      height: 30px;
      margin-left: auto;
      margin-right: 8px;

      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;

      color: rgba(0, 0, 0, 1);

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        color: $accentColor;
      }
    }
    &-icon {
      fill: currentColor;
    }
  }
}
