.address {
  @media screen and(max-width: 767px) {
    padding-top: 60px;
    text-align: center;
  }

  @media screen and(min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 84px;
  }

  &__link {
    @extend %link;

    font-family: $mainFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: $primaryTextColor;

    display: block;
    // align-items: center;

    @media screen and(min-width: 768px) {
      font-size: 14px;
      line-height: 16px;
    }

    transition-property: color;
    transition-duration: $mainDuration;
    transition-timing-function: $mainTimingFunction;

    @media screen and(max-width: 767px) {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.mail .address__icon {
  width: 21px;
  height: 16px;
  margin-right: 10px;

  @media screen and(min-width: 768px) {
    width: 16px;
    height: 14px;
    margin-right: 6px;
  }
}

.phone .address__icon {
  width: 16px;
  height: 26px;
  margin-right: 10px;

  @media screen and(min-width: 768px) {
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }
}
